.bgContainer {
  position: relative;
  overflow: hidden;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.notificationBar {
  position: fixed;
}