.mainMenu {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 116px;
}

.logo {
  width: 169px;
  height: 33px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  gap: 48px;
}

.navLink {
  text-decoration: none;
}